--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: wrestlers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wrestlers (
    id bigint NOT NULL,
    birthdate date,
    description character varying(255),
    email character varying(255),
    first_name character varying(255),
    gender character varying(255),
    image_url character varying(255),
    last_name character varying(255),
    phone_number character varying(255),
    school character varying(255),
    usa_number character varying(255)
);


ALTER TABLE public.wrestlers OWNER TO postgres;

--
-- Name: wrestlers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.wrestlers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.wrestlers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: wrestlers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wrestlers (id, birthdate, description, email, first_name, gender, image_url, last_name, phone_number, school, usa_number) FROM stdin;
\.


--
-- Name: wrestlers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wrestlers_id_seq', 1, false);


--
-- Name: wrestlers wrestlers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wrestlers
    ADD CONSTRAINT wrestlers_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

